.mcgms-page-heading-title-details {
  display: flex;
  justify-content: space-between;
}

.mcgms-page-heading-title {
  padding-bottom: 1.5rem;
}

.mcgms-page-heading-breadcrumbs {
  padding-bottom: var(--pf-global--spacer--sm);
}
