.details-item {
  padding: var(--pf-global--spacer--xs);

  &--border {
    border: 1px solid var(--pf-global--BorderColor--300);
  }
}

.details-item__child--pad {
  padding-left: var(--pf-global--spacer--md);
}

.resource-pop-over {
  margin-bottom: var(--pf-global--spacer--sm);
  max-height: 8rem;
  overflow-y: auto;
}

.resource-items-link {
  margin-top: var(--pf-global--spacer--xs);
}

.view-more-popup {
  margin-top: var(--pf-global--spacer--sm);
  text-align: center;
}
