.status-card {
  font-weight: var(--pf-global--FontWeight--normal);
  font-size: var(--pf-global--FontSize--lg);
}

.pf-c-card__header .pf-c-card__title {
  padding-left: var(--pf-c-card--child--PaddingLeft);
}
